* {
    background-color: #C300FF;
}
.header{
    color: #F9E6FF;
    text-align: center;
    font-size: 1.75rem;
}
.button{
    background-color: #F9E6FF;
}
.inline-heading {
    display: inline;
    justify-content: space-evenly;
}
.item {
    display: flex;
    justify-content: space-between;
}